# Database
DATABASE_URL="postgresql://user:password@localhost:5432/loan_officer?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-a-secret-with-openssl-rand-base64-32"
